body {
    background-color: #F6F6F7 !important;
}

.my-modal ::-webkit-scrollbar{
    width: 20px;
    color: red;
}

#editor{
    background-color: #fff !important;
}

.my-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-modal-container {
    max-height: 90vh;
    background-color: #fff;
    padding: 1rem;
    width: 50%;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.my-modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.close-my-modal{
    font-size: 20px;
    cursor: pointer;
}

.close-my-modal:hover{
    transform: scale(1.2);
}

#content-container {
    margin: 25px auto;
    width: 400px;
}

#editor,#modal_editor {
    height: 30vh;
    border-radius: 0 0 4px 4px;
}

.my-btn{
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}

.my-btn:hover {
    cursor: pointer;
    transform: scaleY(1.0111);
}

@media screen and (max-width:767px) {
    .row {
        margin-bottom: 0;
    }

    .col-md-6,
    .col-md-4 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:650px) {
    .my-modal-container{
        width: 90%;
    }
}